
  <!-- in app.component.html
  <fusioncharts
      type="column2d"
      width="700"
      height="400"
      dataFormat="json"
      [dataSource]="dataSource"
      (initialized)="initialized($event)"
  ></fusioncharts>
   -->




   <div class="p-grid p-align-top">
      <div class="p-col">
          <h1>
            {{pageHeading}}
          </h1>
          <button pButton (click)="backToDashboard()" type="button" label="Back to dashboard"  icon="pi pi-arrow-circle-left" style="margin-right: .25em"></button>
        </div>
      <div class="p-col"></div>

      <div class="p-col"></div>
  </div>
  <button pButton (click)="showDialog()" type="button" label="Contact Our Doctors/Experts"  icon="pi pi-question-circle"  style="margin-right: .25em"></button>

  <div class="p-grid p-align-center vertical-container">
          <div class="p-col">
              <div class="box"></div>
          </div>
          <div class="p-col">
              <div class="box">

                      <fusioncharts
                      [width]="width"
                      [height]="height"
                      [type]="barChartType"
                      [dataFormat]="dataFormat"
                      [dataSource]="barChartDataSource"

                    >
                    </fusioncharts>
              </div>
          </div>
          <div class="p-col">
              <div class="box"></div>
          </div>
      </div>


<div style="margin-bottom: 1em">
    <button type="button" pButton icon="pi pi-chevron-up" (click)="openPrev()" style="margin-right:.25em"></button>
    <button type="button" pButton icon="pi pi-chevron-down" (click)="openNext()"></button>
</div>
<!--(mouseover)='over()' (mouseout)='out()'-->
<p-accordion [activeIndex]="index">
    <p-accordionTab  header="Height">
        <div  style="margin-top:50px;margin-left:50px" class="p-grid p-align-stretch vertical-container">
          <!-- <div class="p-col">
                <div class="box box box-stretched">
                    <p-card header="Height" subheader="2019-2020" [style]="{width: '1500px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <fusioncharts
                            [width]="gaugeChartWidth"
                            [height]="gaugeChartHeight"
                            [type]="gaugeChartType"
                            [dataFormat]="dataFormat"
                            [dataSource]="highLevelGaugeSource"
                          >
                          </fusioncharts>
                        </p-header>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                        <p-footer>
                            <button pButton  type="button" label="For Health Expert, Contact Here"  icon="pi pi-info-circle" style="margin-right: .25em"></button>
                        </p-footer>
                    </p-card></div>
            </div> -->

            <div class="p-grid nested-grid">
                <div class="p-col-8">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <div style="font-weight:bold" class="box">Height</div>
                        </div>
                        <div class="p-col-6">
                            <div style="font-weight:bold" class="box">Actual Score: 11%</div>
                        </div>
                        <div class="p-col-12">
                            <div class="box">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="box box-stretched">
                        <fusioncharts
                        [width]="gaugeChartWidth"
                        [height]="gaugeChartHeight"
                        [type]="gaugeChartType"
                        [dataFormat]="dataFormat"
                        [dataSource]="highLevelGaugeSource"
                      >
                      </fusioncharts>
                    </div>
                </div>
            </div>

        </div>
    </p-accordionTab>

    <p-accordionTab header="Weight">
        <div  style="margin-top:50px;margin-left:50px" class="p-grid p-align-stretch vertical-container">
     <div class="p-grid nested-grid">
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-6">
                    <div style="font-weight:bold" class="box">Weight</div>
                </div>
                <div class="p-col-6">
                    <div style="font-weight:bold" class="box">Actual Score: 11%</div>
                </div>
                <div class="p-col-12">
                    <div class="box">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-4">
            <div class="box box-stretched">
                <fusioncharts
                [width]="gaugeChartWidth"
                [height]="gaugeChartHeight"
                [type]="gaugeChartType"
                [dataFormat]="dataFormat"
                [dataSource]="highLevelGaugeSource"
              >
              </fusioncharts>
            </div>
        </div>
        </div>
    </div>
           </p-accordionTab>


           <p-accordionTab header="BMI">
              <div  style="margin-top:50px;margin-left:50px" class="p-grid p-align-stretch vertical-container">
           <div class="p-grid nested-grid">
              <div class="p-col-8">
                  <div class="p-grid">
                      <div class="p-col-6">
                          <div style="font-weight:bold" class="box">BMI</div>
                      </div>
                      <div class="p-col-6">
                          <div style="font-weight:bold" class="box">Actual Score: 11%</div>
                      </div>
                      <div class="p-col-12">
                          <div class="box">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                          </div>
                      </div>
                  </div>
              </div>
              <div class="p-col-4">
                  <div class="box box-stretched">
                      <fusioncharts
                      [width]="gaugeChartWidth"
                      [height]="gaugeChartHeight"
                      [type]="gaugeChartType"
                      [dataFormat]="dataFormat"
                      [dataSource]="highLevelGaugeSource"
                    >
                    </fusioncharts>
                  </div>
              </div>
              </div>
          </div>
                 </p-accordionTab>



                 <p-accordionTab header="Eye Sight">
                    <div  style="margin-top:50px;margin-left:50px" class="p-grid p-align-stretch vertical-container">
                 <div class="p-grid nested-grid">
                    <div class="p-col-8">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <div style="font-weight:bold" class="box">Eye Sight</div>
                            </div>
                            <div class="p-col-6">
                                <div style="font-weight:bold" class="box">Actual Score: 11%</div>
                            </div>
                            <div class="p-col-12">
                                <div class="box">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-4">
                        <div class="box box-stretched">
                            <fusioncharts
                            [width]="gaugeChartWidth"
                            [height]="gaugeChartHeight"
                            [type]="gaugeChartType"
                            [dataFormat]="dataFormat"
                            [dataSource]="highLevelGaugeSource"
                          >
                          </fusioncharts>
                        </div>
                    </div>
                    </div>
                </div>
                </p-accordionTab>

                  <p-accordionTab header="Dental Score">
                          <div  style="margin-top:50px;margin-left:50px" class="p-grid p-align-stretch vertical-container">
                       <div class="p-grid nested-grid">
                          <div class="p-col-8">
                              <div class="p-grid">
                                  <div class="p-col-6">
                                      <div style="font-weight:bold" class="box">Dental Score</div>
                                  </div>
                                  <div class="p-col-6">
                                      <div style="font-weight:bold" class="box">Actual Score: 11%</div>
                                  </div>
                                  <div class="p-col-12">
                                      <div class="box">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                                          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="p-col-4">
                              <div class="box box-stretched">
                                  <fusioncharts
                                  [width]="gaugeChartWidth"
                                  [height]="gaugeChartHeight"
                                  [type]="gaugeChartType"
                                  [dataFormat]="dataFormat"
                                  [dataSource]="highLevelGaugeSource"
                                >
                                </fusioncharts>
                              </div>
                          </div>
                          </div>
                      </div>
                  </p-accordionTab>

</p-accordion>











          <p-dialog header="Contact Us" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width:'750px', minWidth:'500px'}" [minY]="290"
          [maximizable]="true" [baseZIndex]="10000">

          <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">

                      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                  First Name *:
                              </div>
                              <div class="ui-grid-col-6">
                                  <input pInputText type="text" formControlName="firstname" placeholder="Required"/>
                              </div>
                              <div class="ui-grid-col-4">
                                  <p-message severity="error" text="Firstname is required" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty"></p-message>
                              </div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                  Last Name *:
                              </div>
                              <div class="ui-grid-col-6">
                                  <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                              </div>
                              <div class="ui-grid-col-4">
                                  <p-message severity="error" text="Lastname is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
                              </div>
                          </div>
                          <div class="ui-grid-row">
                                  <div class="ui-grid-col-2">
                                     Email Id *:
                                  </div>
                                  <div class="ui-grid-col-6">
                                      <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                                  </div>
                                  <div class="ui-grid-col-4">
                                      <p-message severity="error" text="Lastname is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
                                  </div>
                              </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                  Summary *:
                              </div>
                              <div class="ui-grid-col-6">
                                  <textarea [rows]="5" [cols]="30" pInputTextarea type="text"  placeholder="Required" formControlName="description"></textarea>
                              </div>
                              <div class="ui-grid-col-4"></div>
                          </div>

                      </div>

              </form>

          <p-footer>
              <button type="button" pButton icon="pi pi-check" (click)="display=false" [disabled]="!userform.valid"  label="Send"></button>
              <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
          </p-footer>
  </p-dialog>

